services:
  # uncomment this section and comment out the mysql section to use postgres instead of mysql
  postgres:
    env_file: stack.env
    environment:
      POSTGRES_USER: $POSTGRES_USER_NAME
      POSTGRES_PASSWORD: $POSTGRES_USER_PASS
      POSTGRES_DB: $POSTGRES_DB_NAME
    hostname: postgres
    image: postgres:14
    restart: unless-stopped
    volumes: 
      - /opt/docker/semaphore/postgresql:/var/lib/postgresql/data
  # if you wish to use postgres, comment the mysql service section below 
  #mysql:
    #restart: unless-stopped
    #image: mysql:8.0
    #hostname: mysql
    #volumes:
      #- semaphore-mysql:/var/lib/mysql
    #environment:
      #MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      #MYSQL_ROOT_PASSWORD: AiIuVjh60d8kIgzFpXtt3pI0
      #MYSQL_DATABASE: semaphore
      #MYSQL_USER: semaphore
      #MYSQL_PASSWORD: 2qu5DHDYBkTbfaeS4OgK1wI4
  semaphore:
    restart: unless-stopped
    ports:
      - 3000:3000
    image: semaphoreui/semaphore:latest
    user: "${UID}:${GID}"
    volumes: 
      - /opt/docker/semaphore/playbook:/tmp/semaphore/  
      - /opt/docker/semaphore/config.json:/etc/semaphore/config.json:ro
      - /opt/docker/semaphore/.ssh:/root/.ssh 
      #- /mnt/app_data/Server/_docker_stack/semaphore/ansible.cfg:/etc/ansible/ansible.cfg:ro
      #- /mnt/app_data/Server/Web-App/_docker-stack/semaphore/inventory/:/inventory:ro 
      #- /mnt/app_data/Server/Web-App/_docker-stack/semaphore/authorized-keys/:/authorized-keys:ro
      #- /mnt/app_data/Server/Web-App/_docker-stack/semaphore/config/:/etc/semaphore:rw
    env_file: stack.env
    environment:
      SEMAPHORE_WEB_ROOT: https://ansible.pcfae.com
      SEMAPHORE_DB_USER: $POSTGRES_USER_NAME
      SEMAPHORE_DB_PASS: $POSTGRES_USER_PASS
      SEMAPHORE_DB_HOST: postgres # for postgres, change to: postgres
      SEMAPHORE_DB_PORT: 5432 # change to 5432 for postgres
      SEMAPHORE_DB_DIALECT: postgres # for postgres, change to: postgres
      SEMAPHORE_DB: $POSTGRES_DB_NAME
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN_PASSWORD: $APP_ADMIN_PASS
      SEMAPHORE_ADMIN_NAME: $APP_ADMIN_NAME
      SEMAPHORE_ADMIN_EMAIL: $APP_ADMIN_MAIL
      SEMAPHORE_ADMIN: $APP_ADMIN_USER
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: $SEMAPHORE_ACCESS_KEY_ENCRYPTION
      ANSIBLE_REMOTE_USER: 'root'
      ANSIBLE_HOST_KEY_CHECKING: "false"
      SEMAPHORE_LDAP_ACTIVATED: 'no' # if you wish to use ldap, set to: 'yes' 
      SEMAPHORE_LDAP_HOST: dc01.local.example.com
      SEMAPHORE_LDAP_PORT: '636'
      SEMAPHORE_LDAP_NEEDTLS: 'yes'
      SEMAPHORE_LDAP_DN_BIND: 'uid=bind_user,cn=users,cn=accounts,dc=local,dc=shiftsystems,dc=net'
      SEMAPHORE_LDAP_PASSWORD: 'ldap_bind_account_password'
      SEMAPHORE_LDAP_DN_SEARCH: 'dc=local,dc=example,dc=com'
      SEMAPHORE_LDAP_SEARCH_FILTER: "(\u0026(uid=%s)(memberOf=cn=ipausers,cn=groups,cn=accounts,dc=local,dc=example,dc=com))"
      TZ: Etc/UTC
    depends_on:
      - postgres # for postgres, change to: postgres